{{>header}}
<main class="main-page">
    <div class="main-page-cabeca">
        <section class="main-page-hero">
            <form class="main-page-hero-form">
                <div class="main-page-hero-form-busca">
                    <input placeholder="Agente" type="text" name="nome" id="nome" value={{nome}}>
                    <input class="main-page-hero-form-busca-campo" type="month" name="data" id="data" min="2016-01"
                        max="2049-12" value="{{resumoMensal.data}}">
                    <i class="fas fa-calendar-alt fa-1x" style="color: #F7941E;"></i>
                </div>

                <select name="parcela" id="parcela">
                        {{#if (eq resumoMensal.parcela "Segunda")}}
                            <option value="Única">Única</option>
                            <option value="Primeira">Primeira</option>
                            <option selected value="Segunda">Segunda</option>
                        {{else}}
                            
                            {{#if (eq resumoMensal.parcela "Primeira")}}
                                <option value="Única">Única</option>
                                <option selected value="Primeira">Primeira</option>
                                <option value="Segunda">Segunda</option>
                            {{else}}
                                <option selected value="Única">Única</option>
                                <option value="Primeira">Primeira</option>
                                <option value="Segunda">Segunda</option>
                            {{/if}}

                        {{/if}}
                </select>
                <button>Confirmar</button>
            </form>
        </section>
        <div id="conteinerBtnPagarVarios">
            <label>0</label>
            <button id="btnPagarVarios">Registrar Marcados</button>
        </div>
        <h2 class="main-page-lista-cabeçalho">Sub-agentes Não Pagos
            <a class="btn-plus numero-total">{{resumoMensal.agentesNaoPagos}}</a>
        </h2>
    </div>
    <section class="main-page-lista">
        {{#if resumoMensal.listaAgentesNaoPagos}}
        {{#each resumoMensal.listaAgentesNaoPagos}}
        
            <div class="main-page-faturacoes-faturacao" id="main-page-faturacoes-faturacao-pendente">
                <a href="/agentes/relatorio/{{this.agente_id}}?data={{../resumoMensal.data}}&parcela={{this.parcela}}">
                    <div>
                        <aside>
                            <p class="nome"> {{this.nome}}</p>
                            <h3>{{this.agente_id}}</h3>
                        </aside>
                        <div>
                            <p>Pagamento: {{this.forma_pagamento}} </p>
                            <p>Parcela:  {{this.parcela}} </p>
                        </div>
                    </div>
                </a>

                <div>
                    <h3 class="cash-pendente"> <span id="plus"> </span>{{getMoeda this.bonus}}</h3>
                    <div class="form-pagar">
                        <form id="pagarVaios">
                            <input type="number" name="agente_id" id="agente_id" value="{{this.agente_id}}">
                            <input type="number" name="usuario_id" id="usuario_id" value="{{../usuario_id}}">
                            <input class="main-page-hero-form-busca-campo" type="month" name="data_correspondente" id="data_correspondente" value="{{../resumoMensal.data}}">
                            <input type="text" name="parcela" id="parcela" value="{{this.parcela}}">
                            <input type="text" name="resto" id="resto" value="{{this.resto}}">
                            <input type="text" name="bonus" id="bonus" value="{{this.bonus}}">
                            <button>Marcar</button>
                        </form>
                    </div>
                </div>
            </div>
        
        {{/each}}
        {{else}}
        <div class="main-page-faturacoes-faturacao">
            <p class="nome">Sem pagamentos pendente!</p>
        </div>
        {{/if}}
    </section>
</main>